<div
  class="bg-very-dark-blue md:mt-0 md:mb-0 mt-10 mb-14 p-5 md:p-10 flex flex-col justify-between h-full">
  <h1 class=" text-primary text-2xl mb-5 md:mb-0 md:text-5xl font-extrabold">
    New</h1>

  @for (article of data[0].articles; track article.id){

  <div
    class="odd:border-t odd:border-b py-5 odd:md:py-10 even:border-light-grayish-blue odd:rounded-sm">
    <h1
      class="text-white py-2 md:py-0 text-lg md:text-xl md:pb-2 font-extrabold hover:text-primary hover:cursor-pointer">
      {{ article.title }}</h1>
    <p
      class="text-light-grayish-blue text-sm md:text-base text-pretty md:pb-0 ">
      {{
      article.body }}</p>
  </div>

  }

</div>