<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- displays site properly based on user's device -->

  <link rel="icon" type="image/png" sizes="32x32"
    href="./assets/images/favicon-32x32.png">



  <!-- Feel free to remove these styles or customise in your own stylesheet 👍 -->
  <style>
    .attribution {
      font-size: 11px;
      text-align: center;
      margin-bottom: 2rem;
    }

    .attribution a {
      color: hsl(228, 45%, 44%);
    }
  </style>
</head>


<body class="flex flex-col justify-center items-center">

  <span class="md:hidden {{burgerMenuToggle
    ? 'bg-black opacity-60 fixed top-0 left-0 h-full w-full' : 'bg-transparent'
    }}">
  </span>

  <div class="container px-5 md:px-0 md:w-[95%] 2xl:w-[66%] md:mt-20">
    <nav class="flex justify-between my-10 md:my-0">
      <img class="w-10 md:w-fit self-center md:h-fit"
        src="../assets/images/logo.svg" alt="w logo">
      <img (click)="burgerMenuToggle = !burgerMenuToggle"
        class="self-center md:hidden h-fit {{burgerMenuToggle ? 'hidden' : 'block'}}"
        src='../assets/images/icon-menu.svg' alt='menu icon'>

      @if(burgerMenuToggle){

      <span
        class="flex flex-col md:hidden right-0 top-0 fixed bg-white h-full w-2/3">
        <img (click)="burgerMenuToggle = !burgerMenuToggle"
          class="{{burgerMenuToggle ? 'block' : 'hidden'}} w-8 m-5 mt-10 mb-20 self-end"
          src='../assets/images/icon-menu-close.svg'>
        <ul class="*:text-xl flex flex-col gap-5 pl-7">
          <li>Home</li>
          <li>New</li>
          <li>Popular</li>
          <li>Trending</li>
          <li>Categories</li>
        </ul>
      </span>

      }
      <ul
        class="md:flex gap-14 text-dark-grayish-blue hidden hover:*:text-primary hover:*:cursor-pointer *:h-fit">
        <li>Home</li>
        <li>New</li>
        <li>Popular</li>
        <li>Trending</li>
        <li>Categories</li>
      </ul>
    </nav>
    <div class="md:grid md:grid-cols-3 md:gap-x-10 md:gap-y-20 md:my-20">

      <div class="md:col-span-2">
        <img class="md:block hidden"
          src="../assets/images/image-web-3-desktop.jpg" alt="image desktop">
        <img class="md:hidden block"
          src="../assets/images/image-web-3-mobile.jpg" alt="image desktop">
        <div class="md:grid md:grid-cols-2 md:gap-x-10 md:mt-8">
          <h1
            class="text-very-dark-blue text-[38px] my-5 md:my-0 md:text-[65px] leading-none md:text-pretty font-extrabold md:pb-3">
            The
            Bright Future of
            Web 3.0?</h1>
          <div class="flex flex-col justify-between">
            <p
              class="text-dark-grayish-blue md:pr-5 pr-0 leading-6 md:leading-normal text-sm md:text-pretty md:text-base">
              We dive into the next evolution of the web that claims to put the
              power
              of
              the
              platforms back into the hands of the people.
              But is it really fulfilling its promise?
            </p>
            <button
              class="bg-secondary text-xs font-normal md:text-sm px-6 py-4 md:font-extrabold tracking-[0.4em] text-white md:col-start-2 w-[175px] md:w-1/2 hover:bg-very-dark-blue my-6 md:my-0">READ
              MORE</button>
          </div>
        </div>
      </div>

      <app-news-item></app-news-item>

      @for (post of posts; track post.id){
      <div class="my-7">
        <img class="float-left w-[95px] md:w-[120px]" src="{{ post.image }}"
          alt="">
        <div class="flex flex-col gap-2 md:gap-5 pl-7">
          <h1 class="text-4xl font-bold text-light-grayish-blue">@if(post.id
            <= 9) {0{{ post.id + 1 }}} @else {{{ post.id }}} </h1>
              <h2
                class="text-base md:text-xl font-extrabold hover:text-secondary hover:cursor-pointer">
                {{ post.title }}</h2>
              <p
                class="text-dark-grayish-blue text-sm md:text-base text-balance">
                {{ post.body }}
              </p>
        </div>
      </div>}
    </div>
  </div>

  <div class="attribution mt-20">
    Challenge by <a href="https://www.frontendmentor.io?ref=challenge"
      target="_blank">Frontend Mentor</a>.
    Coded by <a href="https://nrdev.online" target="_blank">Nestor Rosales</a>.
  </div>
</body>

</html>